# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env
*.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE settings
.vscode/
.idea/
*.sublime-workspace

# Compiled distributions
dist/
build/
*.egg-info/

# Python packaging
*.egg
*.manifest
*.spec

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
*.cover

# Ignore Sentry debug files
.sentrycli

# Ignore all hidden files (except .gitignore)
.*
!.gitignore
